<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index/css/tcontainer.css">
</head>

<body>
    <button class="btn" onclick="hui()">
        <<</button> <table cellspacing="0">

            <tr>
                <th>课程</th>
                <th>周次</th>
                <th>星期</th>
                <th>节次</th>
                <th>操作</th>
            </tr>
            {volist name="$kc" id="vo"}
            <tr>
                <td>{$vo.name}</td>
                <td>{$vo.zhouci}</td>
                <td>{$vo.week}</td>
                <td>{$vo.jieci}</td>
                <td>
                    <a href="addtest?classId={$classId}&&sktimeId={$vo.Id}">发布</a>
                    <a href="read?sktimeId={$vo.Id}">查看</a>
                </td>
            </tr>
            {/volist}
            <tr>
                <td colspan="5" class="page">
                    <a href="curriculum?ye=-&&page={$page}&&">上一页</a>
                    <a href="curriculum?ye=+&&page={$page}&&nm={$nm}">下一页</a>
                </td>
            </tr>
            </table>
            <script>
                function hui() {
                    history.go(-1);
                }
            </script>
</body>

</html>